h2{
    font-family: 'Caveat', cursive;
}

h1{
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
.BGMain
{
height:90vh;
    width: 100%;
    background-image:url(../assets/water.gif);
    background-size: cover;
    background-position: center;
    position: relative;
}

.BGIndoors
{
height:90vh;
    width: 100%;
    background-image:url(../assets/Water2.0.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}
.Tformat{
    font-weight: bold;
    font-style: italic;
    color:white;    
}

.button1 {
    background-color: lightblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 16px;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 5px black;
}

.moveup{
    margin-top: -150px;
}

.move{
    margin-top: -175px;
}

.white{
    
}



/* Arely's CSS */

.title{
    color: white;
    
    font-family: 'Caveat', cursive;

}





/* Manuel CSS */
.Water{
    height:90vh;
    width: 100%;
    background-image:url(../assets/water.gif);
    background-size: cover;
    background-position: center;
    position: relative;
}
.WComm{
    height:90vh;
    width: 100%;
    background-image:url(../assets/Water2.0.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}