.BGMain
{
height:100vh;
    width: 100%;
    background-image:url(../assets/Water-is-Life-featured-B.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Tformat{
    font-weight: bold;
    font-style: italic;
    color:white;
        
}
<<<<<<< HEAD
.button1 {
    background-color: darkblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 10px 10px black;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 2px 5px black;
}
=======

/* Arely's CSS */







/* Manuel CSS */
>>>>>>> bd970089efb229f143f339dbb428b97769125b82
