h2{
    font-family: 'Caveat', cursive;
    text-shadow: 0 0 3px black;
    font-weight: bold;
}

h1{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}
.BGMain
{
height:90vh;
    width: 100%;
    background-image:url(../assets/water.gif);
    background-size: cover;
    background-position: center;
    position: relative;
}

.BGIndoors
{
height:90vh;
    width: 100%;
    background-image:url(../assets/Water2.0.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}
.Tformat{
    font-weight: bold;
    font-style: italic;
    color:white;    
}

.button1 {
    background-color: rgb(51, 80, 168); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    box-shadow: 10px 10px black;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 5px black;
    text-shadow: 0 0 3px black;
   
}
.barrelRoll{
    background-color: black;
}

.button1:hover{
    color: gray;
}

.moveup{
    margin-top: -150px;
}

.move{
    margin-top: -175px;
}

.white{
    color:blue
    
}

.titletextu{
    color:blue;
    font-size: 75px;
}

.texta{
    font-size: 21px;
    color:white;
    max-width: 1800px;
}

.center1 {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;
  }

.redu{
    color:;
}

.textbg{
    background-color: rgba(0,0,0,0.5);
    
}


/* Arely's CSS */

.title{
    color: white;
    
    font-family: 'Caveat', cursive;
    text-shadow: 0 0 3px black;
    font-weight: bold;
    font-size: 90px;

}

.title2{
    color: white;
    
    font-family: 'Caveat', cursive;
    text-shadow: 0 0 3px black;
    font-weight: bold;
    font-size: 60px;

}

.card-title{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: bol;
}


.mid{
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.barrelRoll{
    border-width: 20px;
    border-color: black;
}
.btn-primary{
    font-family: 'Caveat', cursive;
}
.button1 {border-radius: 14px;}

btn{
    font-family: 'Caveat', cursive;
}





/* Manuel CSS */
.Water{
    height:90vh;
    width: 100%;
    background-image:url(../assets/water.gif);
    background-size: cover;
    background-position: center;
    position: relative;
}
.WComm{
    height:90vh;
    width: 100%;
    background-image:url(../assets/Water2.0.webp);
    background-size: cover;
    background-position: center;
    position: relative;
}
.carousel{
    
}
.carousel-inner{

}
.First{
    display: flex;
    justify-content: center;
}